html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 5px;
}
