.main {
  padding: 5rem 1rem;
  margin: 0 auto;
  max-width: 600px;
}

.form {
  width: 100%;
  margin: 2rem 0;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1rem 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.output {
  border: 3px dashed transparent;
  padding: 1rem;
}

.result {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
